*{
    margin: 0px;
    padding:0px;
    
}

@font-face{
    font-family: "Estilo1";
    src: url("Strawberry Blossom.ttf");
    
}

@font-face{
    
    font-family: "Estilo2";
    src: url("beneficha.ttf");
}

@font-face{
    
    font-family: "Estilo3";
    src: url("Shink.otf");
}

h1{
    font-family: "Estilo1";
    font-size: 700%;
}

body{
    	
	line-height:60px;
        text-align:center;
}

p{
    font-size: 200%;
}



div{
    font-family: "Estilo2";
    color: #FFFEFE;
    font-size: 270%;
}
