*{
    margin: 0px;
    padding:0px;
    
}

@font-face{
    font-family: "Estilo1";
    src: url("Strawberry Blossom.ttf");
}

body{
    	
	line-height:100px;
        text-align:center;
}


h1{
    font-family: "Estilo1";
    font-size: 700%;
}

p{
    font-size: 200%;
}

a {
  color:#FFF;

}


